.footer-container{
	text-align: center;
	ul{
		list-style: none;
		padding: 0;
	}
	a{
		display: block;
		text-decoration: none;
		&:hover{
			color: var(--secondari-color);
		}
	}
}
.author{
	display: flex;
	justify-content: center;
	align-items: center;
	.jazz-div{
		img{
			margin-left: 5px;
			width:33%;
			height: 100%;
		}
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
}
