.button-container{
	position: relative;
	width: 100vw;
	max-width: 1200px;
	z-index: 1;
}
.online-button{
	position:	fixed;
	font-size: 1rem;
	right: 15px;
	bottom: 0;
	background-color: var(--main-color);
	color: white;
	padding: 20px 10px;
}
