div(class="container")
	div(class="acerca-container")
		div(class="agencias-container")
			div(class="agencias-container-card")
				h2 Alborada
				div(class="agencias-container-card-detalles")
					span 10:00 - 19:00
					span 6029-668
					sapn Albocentro3 local 8B.
				div(class="agencias-container-card-ubicacion")
					div(class="ubicacion-img")
						img(src="assets/img/alborada1.webp", alt="agencia-img")
					div(class="ubicacion-google")
						iframe(class="frame-local" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.040190510845!2d-79.90182368524484!3d-2.1382699984413387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMDgnMTcuOCJTIDc5wrA1Myc1OC43Ilc!5e0!3m2!1ses!2scr!4v1579101144796!5m2!1ses!2scr", frameborder="0")
			div(class="agencias-container-card")
				h2 Velez 604
				div(class="agencias-container-card-detalles")
					span 10:00 - 19:00
					span 6053-650
					sapn Vélez 604.
				div(class="agencias-container-card-ubicacion")
					div(class="ubicacion-img")
						img(src="assets/img/velez1.webp", alt="agencia-img")
					div(class="ubicacion-google")
						iframe(class="frame-local" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.900024871755!2d-79.88767868524472!3d-2.191553998402579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMTEnMjkuNiJTIDc5wrA1MycwNy44Ilc!5e0!3m2!1ses!2scr!4v1579101401633!5m2!1ses!2scr", frameborder="0") 
			div(class="agencias-container-card")
				h2 Tarqui
				div(class="agencias-container-card-detalles")
					span 10:00 - 19:00
					sapn Sector contenedores a 20 mtrs lado izquierdo de agencia Banco del Pichincha.
				div(class="agencias-container-card-ubicacion")
					div(class="ubicacion-img")
						img(src="assets/img/tarqui1.webp", alt="agencia-img")
					div(class="ubicacion-google")
						iframe(class="frame-local" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2655784756143!2d-80.72383068524634!3d-0.9537339993042738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMMKwNTcnMTMuNCJTIDgwwrA0MycxNy45Ilc!5e0!3m2!1ses!2scr!4v1579101684465!5m2!1ses!2scr", frameborder="0") 
			div(class="agencias-container-card")
				h2 Babahoyo
				div(class="agencias-container-card-detalles")
					span 10:00 - 19:00
					span 6053-650
					sapn  Diez de Agosto Martín y Casa Flores frente a la Cruz Roja.
				div(class="agencias-container-card-ubicacion")
					div(class="ubicacion-img")
						img(src="assets/img/babahoyo1.webp", alt="agencia-img")
					div(class="ubicacion-google")
						iframe(class="frame-local" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.849927425133!2d-79.53474873687531!3d-1.799843830686446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMcKwNDcnNTkuNiJTIDc5wrAzMicwNS45Ilc!5e0!3m2!1ses!2scr!4v1579101924961!5m2!1ses!2scr", frameborder="0") 
			div(class="sign-up-container")
					a(href="register.html" class="btn sign-up sign-up_main") Registrate ya
