div(class="container")
	div(class="deportes-container")
		h1 APUESTAS EN VIVO
		p ¿Tu juego favorito ya ha comenzado? Sigue la acción paso a paso y apuesta a tu evento predilecto aun después de su comienzo oficial. Nuestro novedoso sistema de apuestas en vivo te permite realizar tus jugadas en tiempo real y durante el desarrollo natural del juego. No dejes que lesiones o expulsiones inesperadas afecten el resultado de tu apuesta. Toma control de tu acción y elige el mejor momento para ingresar tu jugada.
		iframe(_ngcontent-nmm-c32="" height="500px" src="https://slive.jazzsports.ag/live/?skin=jazzsgs#!/home" style="border: none;" width="100%")
