div(class="container")
	div(class="deportes-container")
		h1 DEPORTES
		p Los jugadores podrán encontrar más de 70,000 líneas de apuestas mensuales, las cuales cubren todos los deportes de Norte América, Latino América, Europa y sus ligas. Adicionalmente contamos con apuesta en vivo (clásica) para los eventos más importantes.

		p Contamos con dos plataformas para el cliente, la primera es administrada por nuestro propio staff de managers de líneas sin ningún costo extra para el cliente, Nuestro sistema de manejo de riesgo es único en nuestra industria y con éste nos aseguramos que sus jugadores siempre tengan acceso a la última y más reciente información de apuestas deportivas.

		p La segunda plataforma mantiene un formato más familiar para el mercado latinoamericano y en versiones multilenguaje, esta versión si tiene un costo de operación no obstante da una experiencia bastante agradable a los clientes latinoamericanos.

		h2 Plataforma BetSlip

		div(class="deportes-container-betslip")
			div(class="deportes-container-betslip-img1")
				img(src="assets/img/betslip-desktop.jpg", alt="dektop-img")
			div(class="deportes-container-betslip-img2")
				img(src="assets/img/betslip-mobile.png", alt="mobile-img")

		h2 Plataforma Soccer Ultra

		div(class="deportes-container-betslip")
			div(class="deportes-container-betslip-img1")
				img(src="assets/img/soccer-ultra.jpg", alt="dektop-img")
			div(class="deportes-container-betslip-img2")
				img(src="assets/img/soccer-ultra-mobile.png", alt="mobile-img")

		div(class="sign-up-container")
			a(href="register.html" class="btn sign-up sign-up_main") Registrate ya
