div(class='footer-container ')
	ul(class="ed-grid m-grid-3 rows-gap")
		- for(i=0 ; i < footer.length; i++)
			li: a(href=`${footer[i].link}`)= footer[i].name 
	div(class="author")
		div(class="jazz-div")
			span powered by JazzGS 
			img(src="assets/img/powered-jgs.webp", alt="Jazz")

div(class="modal-container" id="modal-container")
	div(class="modal-container-body")
		div(class="modal-container-close")
			p Ingreso de Usuario
			button(id="close") X
		div(class="modal-container-content")
			form(name='LoginForm' action='javascript:void(0)' onsubmit='BackEndLogin(this); return false')
				div(class="form-item")
					label(for="username") Usuario
					br
					input(type="text" name="username" required) 
				div(class="form-item")
					label(for="password") Contraseña
					br
					input(type="password" name="password")
				.text-center.mt-2
					small.text-danger(name='msj_error_lg')
				div(class="form-item")
					a(href="register.html" class="btn sign-up")  Registrarse
					input(class="btn login" class type='submit' name='send' value='INGRESAR')
				div(class="form-item form-item-a"): a(href="#") ¿Olvido su contraseña?
				div
					span#id-login-loading(name='msj_loading')
					input(type='hidden' name='BackEndUrl' value='https://jazzgsdemo.com/')

