div(class="container")
	div(class="terminos-y-condiciones-container")
		include:markdown-it(html) ../md/juego-responsable.md
		div(class="sign-up-container")
			a(href="register.html" class="btn sign-up sign-up_main") Registrate ya
