div(class="container")
	div(class="deportes-container")
		h1 POKER
		p Con nuestro Poker, vas a tener la oportunidad de dar a tus clientes la opción de jugar en una red internacional con más de 30 tipos de Juegos.

		p La plataforma permite jugar desde cualquier dispositivo sin necesidad de descargar un Software, aumentando la cobertura de juego, sin embargo también tenemos disponible su descarga para sistema Windows y Android.
		
		div(class="poker-galery-container ed-grid s-grid-1 l-grid-5")
			div(class="l-cols-1 poker-galery-container-item")
				img(src="assets/img/poker02.png", alt="poker01")
			div(class="l-cols-3 poker-galery-container-item" )
				img(src="assets/img/poker01.png", alt="poker02")
			div(class="l-cols-1 poker-galery-container-item")
				img(src="assets/img/poker03.png", alt="poker03")
		div(class="sign-up-container")
			a(href="register.html" class="btn sign-up sign-up_main") Registrarse
												

