extends ../config/template
append config
	-currentPage		= "acerca-de-nosotros"
	-siteName			= 'JazzGS'
	-content			= 'content'
	-pageDescription	= ''
block main-header
block main-container 
	include ../components/acerca-content.pug
	include ../components/prefooter.pug
block main-footer

block scripts
