extends ../config/template
append config
	-currentPage = "bonos"
	-siteName = 'jazzGS'
	-content = 'content'
	-pageDescription = ''
block main-header
block main-container
	include ../components/bonos-content.pug
	include ../components/prefooter
block main-footer

block scripts
