extends ../config/template
append config
	-currentPage		= "casino"
	-siteName			= 'JazzGS'
	-content			= 'content'
	-pageDescription	= ''
block main-header
block main-container
	include ../components/casino-content.pug
	include ../components/prefooter.pug
block main-footer

block scripts
