extends ../config/template
append config
	-currentPage		= "terminos-y-condiciones"
	-siteName			= 'JazzGS'
	-content			= 'content'
	-pageDescription	= ''
block main-header
block main-container 
	include ../components/terminos-content.pug
	include ../components/prefooter.pug
block main-footer
block scripts
