block config
	include utilis/vars
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	head
		include utilis/metatags
		include utilis/metaTagsPWA
		script(src="https://kit.fontawesome.com/20f3c29ee8.js" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js")
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css')
		link(rel="icon" type="image/jpg" href="assets/img/icon_192.png")
		link(rel="stylesheet" href="assets/css/styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=currentPage, itemscope itemtype="http://schema.org/pngage")
		//-here start the Main Header
		header(class='main-header')
			include ../components/top-nav
			block main-header
		//-here ends the Main Header
		//-here start the Main Container
		main(class='main-container')
			block main-container
		//-here ends the Main Container
		//-here start the Main Footer
		footer(class='main-footer')
			include ../components/footer
			block main-footer
		//-here ends the Main Footer
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js')
		script(src="assets/js/scripts-min.js")
		script(src='https://images.betimages.com/Betslip/js/quick.login.min.js')
		block scripts
